<mat-toolbar class="scrollbar">
  <img src="/assets/Images/imageLogo.jpg">
  <div></div>
  <div class="mat-spacer"></div>
  <div></div>
  <ul>
    <li> <a mat-button [routerLink]="'/tripEvent'">Eventos de Viaje</a></li>
    <li> <a mat-button [routerLink]="'/search-Routes'">Buscar Ruta</a></li>
</ul>

</mat-toolbar>

  <div>
    <div>
        <google-map width="100%" height="600" [center]="position">
            <map-marker [position]="position" [label]="label"></map-marker>
        </google-map>
    </div>
  </div>
