<div class="div-login-general">
    <div class="div-login-center">
      <mat-card id="logincard">
        <mat-card-title class="logintitle">LOGIN</mat-card-title>
        <mat-card-subtitle class="loginsubtitle">BeTrip</mat-card-subtitle>
        <mat-card-content class="contentlogincard">
          <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
              <input type="text" placeholder="Correo"
              aria-label="Email"
              matInput>
            </mat-form-field>
          </form>       
          <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
              <input type="text" placeholder="Contraseña"
              aria-label="Password"
              matInput >
            </mat-form-field>
          </form>      
        </mat-card-content>
        <table class="actionslogin">
          <tr>
            <mat-card-actions>        
              <button mat-raised-button color="primary" [routerLink]="'/tripEvent'">Login</button>          
           </mat-card-actions>
          </tr>
          <tr>
            <a class="registerLink" [routerLink]="'/travelerRegister'">Register</a> 
          </tr>
        </table>
        
      
      </mat-card>
    </div>
  </div>