<mat-toolbar class="scrollbar">
    <img src="/assets/Images/imageLogo.jpg">
    <div></div>
    <div class="mat-spacer"></div>
    <div></div>
    <ul>
      <li><a mat-button [routerLink]="'/view-event-driver'" >Eventos de viaje</a></li>
      <li><a mat-button [routerLink]="'/tripRoutes'" >Crear Rutas</a></li>
      <li><a mat-button  >Mis rutas</a></li>
  </ul>
  </mat-toolbar>

<div class="div-knowMore1">
    <div class="div-knowMore2"> 
        <mat-card-title class="avatarText">Mis rutas de viaje </mat-card-title>
            <mat-card *ngFor="let data of spectRouteData[0]" class="cardes" style="text-align: center;">
                | 
            <mat-card-header> 
                <!--<img mat-card-avatar src="{{data.driverUrl}}" class="avatar">-->
              
                <mat-card-subtitle>
                  
                </mat-card-subtitle>
            </mat-card-header> 
           
                <mat-card-content id="matconten">
                <!--<img mat-card-img src= {{data.destinyUrl}} class="travelImg" >-->
                    <mat-list >
                    
                        <mat-divider></mat-divider>
                             <mat-list-item> <b>ID:&nbsp;&nbsp;&nbsp;&nbsp;</b>{{data.id}}</mat-list-item>                   
                        <mat-divider></mat-divider>
                            
                             <mat-list-item><b>Destino:&nbsp;&nbsp;&nbsp;&nbsp;</b>{{data.destiny}}</mat-list-item> 
                        <mat-divider></mat-divider>
                             <mat-list-item><b>Asientos:&nbsp;&nbsp;&nbsp;&nbsp;</b>{{data.seating}}</mat-list-item>
                        <mat-divider></mat-divider>
                             <mat-list-item><b>Punto de salida:&nbsp;&nbsp;&nbsp;&nbsp;</b>{{data.starting_point}}</mat-list-item>
                        <mat-divider></mat-divider>
                             <mat-list-item><b>Fecha salida:&nbsp;&nbsp;&nbsp;&nbsp;</b>{{data.departure_date}}</mat-list-item>
                        <mat-divider></mat-divider>
                             <mat-list-item><b>Costo:&nbsp;&nbsp;&nbsp;&nbsp;</b>{{data.cost}}</mat-list-item>
                        <mat-divider></mat-divider>
            


                      </mat-list>
                    
                </mat-card-content>
                <mat-card-actions class="actionsKnowmore">   
                    <table>
                        <tr>
                            <td>
                                <button mat-raised-button color="warn" [routerLink]="'/login'">Cancel</button>          
                            </td>
                            <td>
                                <button mat-raised-button color="primary" [routerLink]="'/editRoute'">Editar</button>          
                            </td>
                        </tr>
                    </table>     
                   
            </mat-card-actions>
         </mat-card>
       
    </div>