.div-knowMore1{
   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:50px;
    } 
    
.div-knowMore2{
       
          width:700px;
          align-items: center;
    }

.matconten{
    width: 100%;
  }
.actionsKnowmore{
    align-items: center;
   margin-left: 100px;
  }
  

.avatar{
    width: 100px;
    height: 100px;
    background-size: cover;
  }
.avatarText{
    align-items: center;
    margin-top: 10px;
  
  }
  .travelImg{
    width: 500px;
    background-size: cover; 

  }

  .scrollbar{
    background: #262736;
    height: 50px;
    border: 3px solid black;
    align-items: center;
    justify-content: center;

}

.scrollbar img{
    float: right;
}
.scrollbar ul li{
float:left;
list-style: none;
margin:10px;
line-height: 30px;
color: white;

}
.scrollbar{
  background: #262736;
  height: 50px;
  border: 3px solid black;
  align-items: center;
  justify-content: center;

}

.scrollbar img{
  float: right;
}
.scrollbar ul li{
float:left;
list-style: none;
margin:10px;
line-height: 30px;
color: white;

}